.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  z-index: 999;
}

.modal {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
}

#add {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #333;
  border: 2px solid black;
  border-radius: 3px;
  padding: 5px;
  color: rgb(235, 235, 235);
}

#text {
  background-color: #333;
}

input[type="submit"] {
  background-color: #222;
  border-radius: 5px;
}

input {
  color: rgb(235, 235, 235);
}

input[type="color"] {
  padding: 1px;
  border-radius: 3px;
  background-color: #333;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border: #000;
}

input[type="color"]::-webkit-color-swatch {
  border: 0;
  border-radius: 3px;
}
